.sidebar {
  width: 260px;
  min-height: 100vh;
  background: #081028;
  padding: 30px;
  border-right: 1px solid #1e293b;
}

.sidebar h2 {
  color: white;
  margin-bottom: 40px;
  font-size: 30px;
}

.sidebar button {
  width: 100%;
  margin-bottom: 16px;
  padding: 16px;
  border: none;
  border-radius: 14px;
  background: #0f172a;
  color: white;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.sidebar button:hover {
  background: #1d4ed8;
}

.active-phase {
  background: #2563eb !important;
}
